body {
    background-color: #00142C !important;
}

@mixin webkit ($type,$value){
    -webkit-#{$type}: $value;
    -ms-#{$type}: $value;
    -o-#{$type}: $value;
    -moz-#{$type}: $value;
    #{$type}: $value;
}
.inline-button{
    button+button {
        margin-left:10px
    }
}
.table-wrap{
    padding-top:30px
}